<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitor de QR code - Luari</title>

    <style>
        body{
            margin: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #F5F7FA;
            font-family: Arial, sans-serif;
        }

        h1{
            color: #015794;
            margin: 25px 0;
        }

        #camer{ width: 90%;
                max-width: 500px;
                border-radius: 10px;
            }
    </style>

    <script src = "https://unpkg.com/html5-qrcode" type = "text/javascript"></script>
</head>

<body>
    <h1>Leitor de QR code</h1>

    <div id = "leitor"></div>

<!-- O autoplay faz o vídeo começar automaticamente quando receber a câmera  e o playsinline ajuda a fazer o vídeo ser exibido dentro da página, em vez de o navegador tentar abrir o vídeo em tela cheia. -->

    <p id = "resultado">Aguardando o QR Code...</p>

    <script>

// Essa função guardará o valor do identificado no lugar de texto
// então substituirá o que estiver em resultado, podendo ficar por exemplo "QR encontrado: LUARI-62B2E9F5"
        function quandoLerQR(texto) {
            document.getElementById("resultado").textContent = "QR encontrado" + texto;

            console.log("QR: ", texto);
        }

// O "new" está dizendo: crie um novo objeto a partir dessa ferramenta. isso seerá posto em "leitor" e então,caso haja uma div com esse nome essa função será executada onde é que ela estiver
        const leitor = new Html5QrcodeScanner(
            "leitor",{ fps:10, qrbox:{
                width:250,
                height:250           
            }}
        );

        leitor.render(
            quandoLerQR
        );  

    </script>
</body>
</html>