<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Transformers</title>
</head>
<body>
    <div class="container">

        <header>

            <div class="cabecalho_superior">
                    <div class="Logo">
                        <a href="https://luariembalagens.com.br/?utm_source=google&utm_campaign=12618774406&gad_source=1&gad_campaignid=12618774406&gbraid=0AAAAACpdmGCrvGrMjnAFL_ZZPkCcJBeif&gclid=Cj0KCQjw94bTBhDQARIsAN3vv0zBh1iNCcTCxNqtm20ZN3-MAuIWKaNn7ZwQRzOzOU_7dj3l78uOQBcaAoOLEALw_wcB" class="link-logo">
                            <figure>
                                <img src="static/assets/luari_logo.png" alt="logo da empresa">
                            </figure>
                        </a>
                    </div>

                <h1>TRANSFORMERS</h1>

                <div class="camera">
                    <a href="camera.html">
                        <button>
                            <img src="static/assets/camera.png" alt="ícone da câmera">
                        </button>
                    </a>
                </div>

            </div>

                <h2 class="descricao">
                    Converta automaticamente Ordens de Produção <br>
                    em planilhas de rasteabilidade
                </h2>
            
        </header>

        <main>

            <form 
            action = "/"
            method = "POST"
            enctype = "multipart/form-data">

               <div class="entrada">
                <input
                type = "file"
                name = "pdf"
                placeholder = "Selecione a Ordem de Produção (PDF)">

                <p class="ou">──────── ou ────────</p>

                <label for="link">
                    Insira a URL da planilha: 
                </label>

                <div class="linha-url"> <!-- div para deixar o link e o botão alinhado -->
                    <input type = "url"
                        id = "link"
                        name="link"
                        placeholder="https://docs.google.com/...">

                        <button type = "submit">    
                        Converter Ordem de Produção
                        </button>
                </div>

                </div>

                {% if erro %}

                <div class="error">
                    
                    {% if erro == "Ocorreu um erro inesperado" %}
                        <p> ⚠ {{erro}}</p>
                    {%elif erro %}
                        <p>❌ {{erro}}</p>
                    {% endif %}

                </div>

                {% endif %}

            


            </form>

        </main>

        <footer>

            <div class="rodape">
                <p>
                Versão 4.0 -
                LUARI EMBALAGENS - PACKAGING SOLUTIONS ©
                </p>
            </div>
        </footer>

    </div>
</body>
</html>