<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Transformers</title>
</head>
<body>
    <div class="container">

        <header>

            <div class="cabecalho_superior">
                    <div class="Logo">
                        <a href="https://luariembalagens.com.br/?utm_source=google&utm_campaign=12618774406&gad_source=1&gad_campaignid=12618774406&gbraid=0AAAAACpdmGCrvGrMjnAFL_ZZPkCcJBeif&gclid=Cj0KCQjw94bTBhDQARIsAN3vv0zBh1iNCcTCxNqtm20ZN3-MAuIWKaNn7ZwQRzOzOU_7dj3l78uOQBcaAoOLEALw_wcB" class="link-logo">
                            <figure>
                                <img src="static/assets/luari_logo.png" alt="logo da empresa">
                            </figure>
                        </a>
                    </div>

                <h1>TRANSFORMERS</h1>

                <div class="camera">
                    <a href="{{url_for('camera')}}" style="text-decoration: none; color: inherit; display: block;">
                        <button>
                            <img src="static/assets/camera.png" alt="ícone da câmera">
                        </button>
                    </a>

                </div>

            </div>
                <a href="{{url_for('acompanhamento')}}">
                    <button onclick="window.location.href='/rastreabilidade'">
                            Ver rastreabilidade
                    </button>
                </a>

                <h2 class="descricao">
                    Converta automaticamente Ordens de Produção <br>
                    em planilhas de rasteabilidade
                </h2>
            
        </header>

        <main>

            <form 
            action = "/"
            method = "POST"
            enctype = "multipart/form-data">

               <div class="entrada">
                <input
                type = "file"
                name = "pdf"
                placeholder = "Selecione a Ordem de Produção (PDF)">

                <p class="ou">──────── ou ────────</p>

                <label for="link">
                    Insira a URL da planilha: 
                </label>

                <div class="linha-url"> <!-- div para deixar o link e o botão alinhado -->
                    <input type = "url"
                        id = "link"
                        name="link"
                        placeholder="https://docs.google.com/...">

                        <button class="botao-converter" id = "botao-converter" type = "submit">    
                        Converter Ordem de Produção
                        </button>
                </div>

                </div>

                {% if erro %}

                <div class="error">
                    
                    {% if erro == "Ocorreu um erro inesperado" %}
                        <p> ⚠ {{erro}}</p>
                    {%elif erro %}
                        <p>❌ {{erro}}</p>
                    {% endif %}

                </div>

                {% endif %}

            


            </form>

            <div class="animacao-transformers" id="animacao-transformers">

                <img id="optimus" class="optimus" src="static/assets/Optimus-Run.gif" alt="Optimus-prime">

            </div>

        </main>

        <footer>

            <div class="rodape">
                <p>
                Versão 4.0 -
                LUARI EMBALAGENS - PACKAGING SOLUTIONS ©
                </p>
            </div>
        </footer>

    </div>

    <!-- <script>

// Criou as 2 contantesuma é o optimus que receberá quem tiver id = "optimus" e formulario, que procura e captura o 1º formulário que encontrar na página, no caso as partes de preenchimento eo botão, e o oultimo captura o container,a caixa onde ocorrerá a animação
        const formulario = document.querySelector("form");
        const optmus = document.getElementById("optimus");
        const areaAnimacao = document.getElementById("animacao-transformers");

// O .addEventListener fica vigiando,quando formulario disparar o evento "submit" ele iniciará a função
// Aqui o atributo de origem src substituirá o que estiver em optimus pelo caminho descrito
        formulario.addEventListener("submit", function(event){

            event.preventDefault();

            optimus.src = "static/assets/Optimus-Run.gif";
            optmus.transition = "nome";
            optmus.style.left = "0px";

            optmus.src = "static/assets/optimus_transformando_em_caminhao.gif";
            optimus.style.width = "165px";

            setTimeout(function(){
                optmus.src = "static/assets/luari_caminhao.gif";

                optimus.style.width = "185px";

                const larguraArea = areaAnimacao.clientWidth;
                const larguraOptimus = optmus.offsetWidth;

                const destino = larguraArea - larguraOptimus;

                optmus.style.transition = "left 3s linear";
                optmus.style.left = destino + "px";

            setTimeout(function(){
            optimus.style.opacity = "1";

            optmus.src = "static/assets/optimus_voltando_a_ser_robo.gif";

            setTimeout(function(){
            optmus.src = "static/assets/Optimus-Run.gif";

            }, 800); // Esse 800 repreenta os milissegundos

            },3000)
            })
        });
    </script> -->
</body>
</html>