<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Transformers</title>
</head>
<body>
    <div class="container">

        <header>

            <div class="cabecalho_superior">
                    <div class="Logo">
                        <a href="https://luariembalagens.com.br/?utm_source=google&utm_campaign=12618774406&gad_source=1&gad_campaignid=12618774406&gbraid=0AAAAACpdmGCrvGrMjnAFL_ZZPkCcJBeif&gclid=Cj0KCQjw94bTBhDQARIsAN3vv0zBh1iNCcTCxNqtm20ZN3-MAuIWKaNn7ZwQRzOzOU_7dj3l78uOQBcaAoOLEALw_wcB" class="link-logo">
                            <figure>
                                <img src="static/assets/luari_logo.png" alt="logo da empresa">
                            </figure>
                        </a>
                    </div>

                <h1>TRANSFORMERS</h1>

                <div class="camera">
                    <a href="{{url_for('camera')}}" style="text-decoration: none; color: inherit; display: block;">
                        <button>
                            <img src="static/assets/camera.png" alt="ícone da câmera">
                        </button>
                    </a>

                </div>

            </div>
                <a href="{{url_for('acompanhamento')}}">
                    <button onclick="window.location.href='/rastreabilidade'">
                            Ver rastreabilidade
                    </button>
                </a>

                <h2 class="descricao">
                    Converta automaticamente Ordens de Produção <br>
                    em planilhas de rasteabilidade
                </h2>
            
        </header>

        <main>

            <form 
            action = "/"
            method = "POST"
            enctype = "multipart/form-data">

               <div class="entrada">
                <input
                type = "file"
                name = "pdf"
                placeholder = "Selecione a Ordem de Produção (PDF)">

                <p class="ou">──────── ou ────────</p>

                <label for="link">
                    Insira a URL da planilha: 
                </label>

                <div class="linha-url"> <!-- div para deixar o link e o botão alinhado -->
                    <input type = "url"
                        id = "link"
                        name="link"
                        placeholder="https://docs.google.com/...">

                        <button class="botao-converter" id = "botao-converter" type = "submit">    
                        Converter Ordem de Produção
                        </button>
                </div>

                </div>

                {% if erro %}

                <div class="error">
                    
                    {% if erro == "Ocorreu um erro inesperado" %}
                        <p> ⚠ {{erro}}</p>
                    {%elif erro %}
                        <p>❌ {{erro}}</p>
                    {% endif %}

                </div>

                {% endif %}

            


            </form>

            <div class="animacao-transformers" id="animacao-transformers">

                <img id="optimus" class="optimus" src="static/assets/Optimus-Run.gif" alt="Optimus-prime">

            </div>

        </main>

        <footer>

            <div class="rodape">
                <p>
                Versão 5.0 -
                LUARI EMBALAGENS - PACKAGING SOLUTIONS ©
                </p>
            </div>
        </footer>

    </div> 

<script>

// Criou as 2 contantesuma é o optimus que receberá quem tiver id = "optimus" e formulario, que procura e captura o 1º formulário que encontrar na página, no caso as partes de preenchimento eo botão, e o oultimo captura o container,a caixa onde ocorrerá a animação
    const formulario = document.querySelector("form");
    const optimus = document.getElementById("optimus");
    const areaAnimacao = document.getElementById("animacao-transformers");

    function mostrarErro(){
        optimus.style.transition = "none";

        optimus.src = "static/assets/Optimus-erro.png";

        optimus.style.opacity = "1";
    }

    function finalizarAnimacao(){
        optimus.style.transition = "none";
        optimus.style.opacity = "0";
        optimus.style.left = "0px";

        setTimeout(function(){

            optimus.style.opacity = "1";
            optimus.src = "static/assets/optimus_voltando_a_ser_robo.gif";
            optimus.style.width = "170px";
        }, 200);

        setTimeout(function(){

            optimus.src = "static/assets/Optimus-Run.gif";
            optimus.style.width = "";
        }, 1000);
    }

// O .addEventListener fica vigiando,quando formulario disparar o evento "submit" ele iniciará a função
// Aqui o atributo de origem src substituirá o que estiver em optimus pelo caminho descrito
    formulario.addEventListener("submit", function(event){

        event.preventDefault();

        const dados = new FormData(formulario); 

// Estado inicial
        optimus.src = "static/assets/Optimus-Run.gif";
        optimus.style.transition = "none";
        optimus.style.left = "0px";
        optimus.style.opacity = "1";

// Após 0.1s ele inicia a transformação
        setTimeout(function(){ optimus.src = "static/assets/optimus_transformando_em_caminhao.gif";
            optimus.style.width = "170px";
            },100); //Esse 100 representa linha de largada,é a partir do momento 0.1s que ele iniciará

// 1000 - 100 = 900ms de tempo que a transformação terá para ser executada e então se iniciará o gif luaria_caminhao
// Destino calcula a área que será percorrida, e essa variável é usada pra arrastar da esquerda pra direita em forma linear em 3s, considerando o valor do destino em px,pra ser mais fácil do programa contabilizar
        setTimeout(function(){
            optimus.src = "static/assets/luari_caminhao.gif";

            optimus.style.width = "210px";

            const larguraArea = areaAnimacao.clientWidth; // Calcula a área total,desde a largura total do conteúdo até os paddings internos de ambos os lados
            const larguraOptimus = optimus.offsetWidth; // pega o conteúdo do gif desde a largura,padding e bordas, ignorando apenas o margin

            const destino = larguraArea - larguraOptimus; // A subtração disso é o valor que ele terá de andar

            optimus.style.transition = "left 3s linear";
            optimus.style.left = destino + "px";
        },1000); // Esse 1000 repreenta os milissegundos, 1000ms = 1s

        fetch("/",{
            method: "POST",
            headers: {
                "X-Requested-With": "XMLHttpRequest" // Esse cabeçalho é usado para indicar que a requisição está sendo feita via AJAX, permitindo que o servidor diferencie entre requisições normais e requisições assíncronas, pense nele como uma etiqueta do 2º pedido de 2, ele serve para que possa diferenciar quando quer executá-lo ou deixar de executá-lo, pois o 1º pedido é o normal, que é o GET, e o 2º pedido é o AJAX, que é o POST
            },
            body: dados
        })

        .then(function(resposta){
            console.log("STATUS:", resposta.status);
            console.log("RESPOSTA OK:", resposta.ok);

// O ! torna tudo inverso, então caso a resposta esteja errada, o ! considerará veradadeira e a levará ao próximo comando que é o indicador de erro,mas caso esteja correta, o ! considerará falsa e então pulará aquele comando indo direto ao return
// Os dados obtidos será transformado em texto pois o javascript não sabe que tipo de arquivo é,se ele é .img,.pdf ou json, então ao especificar pra ele, a resposta é retornada para a próxima função
            if(!resposta.ok){
                throw new Error("Erro no processsamento");
            }
            return resposta.json();
        })

        .then(function(resultado){
            console.log("Resposta do Flask:", resultado);

// Se o resultado for falso, o ! inverterá pra verdadeiro e então ele irá para o próximo comando que é o indicador de erro, mas caso seja verdadeiro, o ! inverterá para falso e então ele pulará aquele comando indo direto ao console.log
            if(!resultado.sucesso){
                throw new Error("A conversão não foi concluída");
            }

            console.log("Processamento concluído com sucesso");

            console.log("JSON RECEBIDO:", resultado);
            console.log("SUCESSO:", resultado.sucesso);

            finalizarAnimacao();
        })

        .catch(function(erro){
            console.error("Erro:",erro);

            mostrarErro();
        })

    });
</script> 
</body>
</html>